<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="row">
    <input type="text" hidden value="{V.id}" id="id_ma_du_an">
    <div id="mess">

    </div>
    <ul class="nav nav-tabs">
        <li><a href="#home" data-toggle="tab" class="active">Chi Tiết Dự Án</a></li>
        <li><a href="#info" data-toggle="tab">Thông Tin Quyên GÓp Của Dự Án</a></li>
        <li><a href="#his" data-toggle="tab">Lịch Sử Quyên Góp </a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <a href=""><h1>{V.ten_du_an}</h1></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col">
                            <div id="my-pics" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#my-pics" data-slide-to="0" class="active"></li>
                                    <li data-target="#my-pics" data-slide-to="1"></li>
                                    <li data-target="#my-pics" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <!-- BEGIN: hinh -->
                                    <div class="{ACTIVE}">
                                        <img src="{HINH_ANH}" alt="Sunset over beach">
                                    </div>
                                    <!-- END: hinh -->

                                </div>
                                <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
                                    <span class="icon-prev" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
                                    <span class="icon-next" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {V.mo_ta_chi_tiet}
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chiTietModal">
                        Quyên Góp
                    </button>
                </div>
            </div>

            <div class="modal fade" id="chiTietModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modalLabel">Xác Nhận Quyên Góp</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <p>Vui lòng nhập tên và Email của bạn để chúng tôi có thể gửi lời cảm ơn đến lòng hảo
                                    tâm của bạn!</p>
                            </div>
                            <div class="form-group">
                                <label for="first_name">Họ Và Tên <b class="text-danger">*</b></label>
                                <input type="text" class="form-control" id="full_name">
                            </div>
                            <div class="form-group">
                                <label for="first_name">Email <b class="text-danger">*</b></label>
                                <input type="text" class="form-control" id="email_quyen_gop">
                            </div>
                            <div>
                                <div id="donate-button-container">
                                    <div id="donate-button"></div>
                                    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                                    <script>
                                        PayPal.Donation.Button({
                                        env:'sandbox',
                                        hosted_button_id:'{V.ma_du_an}',
                                        image: {
                                            src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                                            alt:'Donate with PayPal button',
                                            title:'PayPal - The safer, easier way to pay online!',
                                        },
                                        onComplete: function (params) {
                                            var payload = new FormData();
                                                payload.append('id_du_an', $("#id_ma_du_an").val());
                                                payload.append('email_quyen_gop', $("#email_quyen_gop").val());
                                                payload.append('full_name', $("#full_name").val());
                                                payload.append('ma_du_an', params.item_name);
                                                payload.append('transaction_id', params.tx);
                                                payload.append('so_tien_quyen_gop', params.amt);
                                            $.ajax({
                                                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=chitietduan&payment=1',
                                                type:'POST',
                                                data:payload,
                                                cache:false,
                                                contentType: false,
                                                processData: false,
                                                success:function(res){
                                                   if(res.status){
                                                        toastr.success('Cảm ơn bạn đã donate cho dự án chúc bạn 1 ngày tốts lành !');
                                                   }
                                                },
                                            }); 
                                        }
                                        }).render('#donate-button');
                                    </script>
                                </div>
                                    
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="info">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Mô tả chi tiết ở đây nha Kinn
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Người Quyên Góp</th>
                                        <th>Số Tiền</th>
                                        <th>Ngày Giờ Quyên Góp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="his">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Mô tả chi tiết ở đây nha Kinn
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Số Tiền</th>
                                        <th>Ngày Giờ Quyên Góp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- END: main -->