<!-- BEGIN: main -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href=""><h1>teen du an</h1></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col">
                    <img class='img-responsive' src="" alt="img"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    mo ta ngan
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: main -->