<!-- BEGIN: main -->
<div class="row">
<!-- BEGIN: list -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{VALUE.url_chi_tiet}"><h1>{VALUE.ten_du_an}</h1></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col">
                    <img class='img-responsive' src="{VALUE.hinh_anh}" alt="img"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {VALUE.mo_ta_ngan}
                </div>
            </div>
        </div>
    </div>
<!-- END: list -->

</div>
<!-- END: main -->