<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<div class="row">
    <div class="col-md-">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Thêm mới dự án
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên dự án</th>
                            <th>Mô tả ngắn</th>
                            <th>Mô tả chi tiết</th>
                            <th>Số tiền</th>
                            <th>Hình ảnh</th>
                            <th>Thời hạn</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- BEGIN: list_du_an -->
                        <tr>
                            <th>{KEY}</th>
                            <td>{VALUE.ten_du_an}</td>
                            <td>{VALUE.mo_ta_ngan}</td>
                            <td>{VALUE.mo_ta_chi_tiet}</td>
                            <td>{VALUE.so_tien}</td>
                            <td>
                                <img src="{VALUE.hinh_anh}" style="max-width: 300px;" alt="">
                            </td>
                            <td>{VALUE.thoi_han}</td>
                            <td>
                                <button class="delete btn btn-danger" data-id="{VALUE.id}">Xóa</button>
                                <button class="chuyenveduan btn btn-primary" data-id="{VALUE.id}">Chuyển về dự án</button>
                            </td>
                        </tr>
                    <!-- END: list_du_an -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    // CKEDITOR.replace( 'mo_ta_ngan' );
    // CKEDITOR.replace( 'mo_ta_chi_tiet' );
    // CKEDITOR.instances.mo_ta_ngan.getData();
    // CKEDITOR.instances.mo_ta_chi_tiet.getData();
</script>
<script>
    $(document).ready(function(){
        $('body').on('click', '.chuyenveduan', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachkhongduyet&chuyenveduan=1',
                type:'POST',
                data:payload,
                cache:false,
                contentType: false,
                processData: false,
                success:function(res){
                    if(res.status){
                        toastr.success('Chuyển về dự án thành thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.success('Có lỗi hệ thống');
                    }
                },
            });     
        });

        $('body').on('click', '.delete', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachkhongduyet&delete=1',
                type:'POST',
                data:payload,
                cache:false,
                contentType: false,
                processData: false,
                success:function(res){
                    if(res.status){
                        toastr.success('Đã xóa dự án thành công !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error(res.mess);
                    }
                },
            });     
        });
    });
</script>
<!-- END: main -->
