<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<div class="row">
    <div class="col-md-">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Thêm mới dự án
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên dự án</th>
                            <th>Mô tả ngắn</th>
                            <th>Mô tả chi tiết</th>
                            <th>Số tiền</th>
                            <th>Hình ảnh</th>
                            <th>Thời hạn</th>
                            <th>Trạng thái</th>
                            <th>Duyệt dự án</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- BEGIN: list_du_an -->
                        <tr>
                            <th>{KEY}</th>
                            <td>{VALUE.ten_du_an}</td>
                            <td>{VALUE.mo_ta_ngan}</td>
                            <td>{VALUE.mo_ta_chi_tiet}</td>
                            <td>{VALUE.so_tien}</td>
                            <td>
                                <img src="{VALUE.hinh_anh}" style="max-width: 300px;" alt="">
                            </td>
                            <td>{VALUE.thoi_han}</td>
                            <td>
                                {IS_OPEN}
                            </td>
                            <td>
                                {IS_DUYET}
                            </td>
                            <td>
                                <button class="update btn btn-info" data-id="{VALUE.id}" data-toggle="modal" data-target="#update">Cập Nhật</button>
                                <button class="btn btn-primary" data-id="">Lịch sử dự án</button>
                                <button class="delete btn btn-danger" data-id="{VALUE.id}">Xóa</button>
                            </td>
                        </tr>
                    <!-- END: list_du_an -->
                    </tbody>
                </table>
                <div class="modal fade" id="duyetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-primary">
                          <h1 class="modal-title" id="exampleModalLabel">Duyệt dự án</h1>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="id_ma_du_an">
                          <p>Nhập mã dự án</p>
                          <input type="text" class="form-control" id="ma_du_an">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                          <button type="button" id="duyetduan" class="btn btn-primary">Duyệt</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-primary">
                          <h1 class="modal-title" id="exampleModalLabel">Cập nhật</h1>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input type="text" hidden id="id_edit">
                                <div class="form-group">
                                  <label>Tên dự án</label>
                                  <input type="text" class="form-control" id="ten_du_an">
                                </div>
                                <div class="form-group">
                                    <label>Mô tả ngắn</label>
                                    <textarea name="mo_ta_ngan" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả chi tiết</label>
                                    <textarea name="mo_ta_chi_tiet" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Hình ảnh</label>
                                    <input type="file" class="form-control" id="image" multiple>
                                    <input type="text" class="form-control" hidden id="link_image">
                                </div>
                                <div class="form-group">
                                    <label>Thời hạn</label>
                                    <input type="date" class="form-control" id="thoi_han">
                                </div>
                                <div class="form-group">
                                    <label>Số tiền</label>
                                    <input type="number" class="form-control" id="so_tien">
                                </div>
                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <select class="form-control" id="is_open">
                                        <option value="1">Hiển thị</option>
                                        <option value="2">Tạm tắt</option>
                                    </select>
                                </div>
                                <button type="button" id="create" class="btn btn-primary text-right">Thêm mới</button>
                              </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="accept_update">Cập nhật</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan' );
    CKEDITOR.replace( 'mo_ta_chi_tiet' );
    // CKEDITOR.instances.mo_ta_ngan.getData();
    // CKEDITOR.instances.mo_ta_chi_tiet.getData();
</script>
<script>
    $(document).ready(function(){
        $("#create").click(function(){
            var hinh_anh = image.files;
            var payload = new FormData();
                payload.append('ten_du_an', $("#ten_du_an").val());
                payload.append('mo_ta_ngan', CKEDITOR.instances.mo_ta_ngan.getData());
                payload.append('mo_ta_chi_tiet', CKEDITOR.instances.mo_ta_chi_tiet.getData());
                for(var i =0 ;  i < hinh_anh.length; i++){
                    payload.append('hinh_anh_'+ i, hinh_anh[i]);
                } 
                payload.append('so_luong_anh', hinh_anh.length);
                payload.append('thoi_han', $("#thoi_han").val());
                payload.append('so_tien', $("#so_tien").val());
                payload.append('is_open', $("#is_open").val());

                $.ajax({
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=main&create=1',
                    type:'POST',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Thêm mới thành công');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }else{
                            console.log(res.err);
                            $.each(res.err, function( key, value ) {
                                toastr.error(value);
                            });
                            
                        }
                    },
                });    
        });

        $('body').on('click', '.change', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&change=1',
                type:'POST',
                data:payload,
                cache:false,
                contentType: false,
                processData: false,
                success:function(res){
                    if(res.status){
                        toastr.success('Đổi trạng thái thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.success('Có lỗi hệ thống');
                    }
                },
            });     
        });

        $('body').on('click', '.unduyet', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&unduyet=1',
                type:'POST',
                data:payload,
                cache:false,
                contentType: false,
                processData: false,
                success:function(res){
                    if(res.status){
                        toastr.success('Hủy duyệt thành thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.success('Có lỗi hệ thống');
                    }
                },
            });     
        });

        $('body').on('click', '.khongduyet', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&khongduyet=1',
                type:'POST',
                data:payload,
                cache:false,
                contentType: false,
                processData: false,
                success:function(res){
                    if(res.status){
                        toastr.success('Không duyệt thành thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.success('Có lỗi hệ thống');
                    }
                },
            });     
        });

        $('body').on('click', '.duyet', function() {
            var id = $(this).data('id');
            $('#id_ma_du_an').val(id);
        });

        $("#duyetduan").click(function(){
            var payload = new FormData();
                payload.append('id', $("#id_ma_du_an").val());
                payload.append('ma_du_an', $("#ma_du_an").val());

                $.ajax({
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&duyetduan=1',
                    type:'POST',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Cập nhật mã dự án thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }else{
                            toastr.error(res.mess);
                        }
                    },
                });   
        });

        $('body').on('click', '.update', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&update=1',
                type:'POST',
                data:payload,
                cache:false,
                contentType: false,
                processData: false,
                success:function(res){
                    $("#id_edit").val(res.data.id);
                    $("#ten_du_an").val(res.data.ten_du_an);
                    CKEDITOR.instances.mo_ta_ngan.setData(res.data.mo_ta_ngan);
                    CKEDITOR.instances.mo_ta_chi_tiet.setData(res.data.mo_ta_chi_tiet);
                    $("#link_image").val(res.data.hinh_anh);
                    $("#thoi_han").val(res.data.thoi_han);
                    $("#so_tien").val(res.data.so_tien);
                    $("#is_open").val(res.data.is_open);
                },
            });     
        });

        $('body').on('click', '.delete', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&delete=1',
                type:'POST',
                data:payload,
                cache:false,
                contentType: false,
                processData: false,
                success:function(res){
                    if(res.status){
                        toastr.success('Đã xóa dự án thành công !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error(res.mess);
                    }
                },
            });     
        });

        $("#accept_update").click(function(){
            var hinh_anh = image.files;
            var payload = new FormData();
                payload.append('id', $("#id_edit").val());
                payload.append('ten_du_an', $("#ten_du_an").val());
                payload.append('link_image', $("#link_image").val());
                for(var i =0 ;  i < hinh_anh.length; i++){
                    payload.append('hinh_anh_'+ i, hinh_anh[i]);
                }
                payload.append('mo_ta_ngan', CKEDITOR.instances.mo_ta_ngan.getData());
                payload.append('mo_ta_chi_tiet', CKEDITOR.instances.mo_ta_chi_tiet.getData());
                payload.append('thoi_han', $("#thoi_han").val());
                payload.append('so_luong_anh', hinh_anh.length);
                payload.append('so_tien', $("#so_tien").val());
                payload.append('is_open', $("#is_open").val());

                $.ajax({
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&accept_update=1',
                    type:'POST',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Cập nhật thành công');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }
                    },
                });   
        });
    });
</script>
<!-- END: main -->
